{% extends "layout/basic.html" %}
{% block title %}Главна страница{% endblock %}
{% block content  %}
    <div class="position-absolute top-40 start-50 translate-middle-x" style="width: 30em">
        <p class="text-dark fs-1 text-center fw-bold">
            Подготовься к егэ по информатике прямо сейчас
        </p>
        <div class="position-absolute top-40 start-50 translate-middle-x">
        <a href="#" class="btn btn-outline-warning btn-lg fs-1 fst-italic">Go!!!</a>
        </div>
    </div>
{% endblock  %}